* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: #121212;
    background-color: #ebeaea;
    line-height: 1.6;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}

section {
    margin-bottom: 40px;
}

section#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #333;
    color: white;
}

section#nav a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 15px;
    padding: 7px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

section#nav a:hover {
    text-decoration: underline;
    background-color: #cecece;
    padding: 7px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#ex-a-logo {
    width: 25px;
    height: 25px;
    margin: 0 2px;
    vertical-align: middle;
}

.list {
    list-style-type: disc;
    margin-left: 20px;
}

.sep {
    display: none;
}

@media (max-width: 600px) {
    body {
        max-width: 95%;
        padding: 10px;
    }

    section#nav {
        flex-direction: column;
        align-items: flex-start;
    }

    section#nav a {
        margin: 5px 0;
    }

    .sep {
        display: inline;
        margin: 0;
        color: #333;
    }
}